body {

  background-color: pink;
  justify-content: center;
  font-family: arial;
  margin: auto;
}

img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 300%;
  text-align: center;
  color: rgb(255, 255, 255);
}
body#a {
  align-items: center;
}


#button {
  display: flex;
  width: 30%;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: pink;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: auto;
  margin-top: 30px;
}

#button:hover {
  background-color: rgb(202, 150, 159);
  transition: 0.3s;
}

#button:active {
  background-color: pink;
  box-shadow: 0 2px #b8b8b8;
  transform: translateY(4px);
}

h1.made {
  font-size: 200%;
  margin-bottom: 30px;
  color: #9eb6ff;
}
